<html>
<head>
	<style>
		.up {
			color: green;
		}
		.down {
			color: gray;
		}
		.down::after {
			color: #ccc;
			content: " (down)"
		}
	</style>
	<title>Nginx Proxy List Overview</title>
</head>
<body>
	<h1>Nginx Proxy List Overview</h1>
	{{#each proxies}}
	<p>
		{{@index}}. 
		{{#if this.healthy}}
			{{#if this.url}}
				<a href="{{this.url}}" class="up" target="_blank">
					{{this.name}}
				</a>
			{{else}}
				<span href="#" class="up self">
					{{this.name}}
				</span>
			{{/if}}
		{{else}}
			<span class="down">
				{{this.name}}
			</span>
		{{/if}}
	</p>
	{{/each}}
</body>
</html>
